/************************/
/* CODE VOOR @FONT-FACE */
/************************/







/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* github.com/jensimmons/cssremedy */
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  /*******************************/
  /* CODE VOOR HET EERSTE BLOKJE */
  /*******************************/
  
  /* hiermee selecteer je het eerste blokje */
  li:first-of-type {
    padding:1em;
    /* onderstaande regel helpt om de content in het blokje te houden */
    /* en als het nodig is kun je dan scrollen */
    /* haal maar eens weg en kijk wat er gebeurt */
    /* https://css-tricks.com/almanac/properties/o/overflow/ */
    overflow:auto;
  }
  
  /* hiermee selecteer je de h2 in het eerste blokje */
  li:first-of-type h2 {
    /* jouw code hier */
    
  }
  
  li:first-of-type p {
    /* jouw code hier */
    
  }
  
  /* hiermee selecteer je de eerste letter van de p in het eerste blokje */
  li:first-of-type p::first-letter {
    /* jouw code hier */
    
  }
  
  
  
  
  
  /*******************************/
  /* CODE VOOR HET TWEEDE BLOKJE */
  /*******************************/
  
  /* hiermee selecteer je het tweede blokje */
  li:nth-of-type(2) {
    /* custom properties voor tweede blokje */
    /* zelf verder aanvullen */
    --background-color:rgb(0 24 54);
    
    /* met onderstaande regels staat de tekst in het midden */
    /* en elk woord op een nieuwe regel */
    display:grid;
    grid-auto-columns:min-content;  
    place-content:center;
    text-align:center;
    
    background-color:var(--background-color);
    
    
  }
  
  li:nth-of-type(2) h2 {
    /* jouw code hier */
    
  }
  
  
  
  
  
  /******************************/
  /* CODE VOOR HET DERDE BLOKJE */
  /******************************/
  
  /* how to @font-face -> css-tricks.com/snippets/css/using-font-face-in-css */
  /* url -> https://assets.codepen.io/274456/Saira_Condensed-Bold.ttf */
  
  /* jouw @font-face code hier */
  @font-face {
    
  }
  
  li:nth-of-type(3) {
    /* jouw code hier */
    
  }
  
  li:nth-of-type(3) h2 {
    /* jouw code hier */
    
  }
  
  
  
  
  
  /*******************************/
  /* CODE VOOR HET VIERDE BLOKJE */
  /*******************************/
  
    /* it's all yours */
    /* jouw code hier */
  
  
  
  
  
  /*******************************/
  /* CODE VOOR HET VIJFDE BLOKJE */
  /*******************************/
  
    /* it's all yours */
    /* jouw code hier */
  
  
  
  
  
  /******************************/
  /* CODE VOOR HET ZESDE BLOKJE */
  /******************************/
  
    /* it's all yours */
    /* jouw code hier */
  
  