:root{

  /* fonts */
  --heading-font: Alegreya, serif;
  --main-font: Alegreya Sans, Sans-serif;

  /* font-size */
  --text-size: 1.05em;
  --heading-size: 1.3em;
  --lead-size: 2.6em;

  /* kleuren */
  --main-bg-color: #fcf5ed;
  --main-font-color: #4d3928;
  --second-font-color: #aa182c;
  --border-color: #ede5d5;
  --border-second-color: #ECE6D6;
  --light-button-color: #FBFBF8;

  /* paddings */
  --blok-padding: 20px;

  /* margins */
  --heading-margin: 1.2em;
  --blok-margin: 2em;
  --list-margin: .6em;

  /* border-radius */
  --blok-radius: 5px;
  --button-radius: .2em;
  --radius-small: .15em;
  --radius-medium: .3em;
}

/* Maak gebruik van EM ipv pixels */

*{
  font-family: var(--main-font);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 200;
}

.blockst{
  border: 1px solid var(--border-second-color);
  background-color: white;
  bottom: -50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--blok-padding);
  border-radius: var(--blok-radius);
}

.maxwitdh{
  width: 80%;
  margin-inline: auto;
  max-width: 1200px;
  /* Bron = van sanne */
}

.trans-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 0.15em solid white;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-medium);
  gap:.10px;
  align-items:center;
}

.trans-button:hover{
  background-color: rgba(255, 255, 255, 0.254);
}

.red-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 2px solid #8F1425;
  outline: 5px solid var(--second-font-color);
  background-color: var(--second-font-color);
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-small);
  gap:.10px;
  align-items:center;
}

.red-button:hover {
background-color: #9c1426;
border: 2px solid #750c1a;
outline: 5px solid #9c1426;
}

.white-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 2px solid var(--border-second-color);
  outline: 5px solid white;
  background-color: white;
  color: var(--second-font-color);
  width: fit-content;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-small);
  gap:.10px;
  align-items:center;
  box-shadow: 0px 0px 0px 6px var(--border-second-color);
  margin-top: 1em;
}

.white-button:hover{
  outline: 5px solid rgb(252, 252, 252);
  background-color: rgb(252, 252, 252);
}

.arrow::after {
  content: "";
  background-image:url('../assets/right-arrow-next-svgrepo-com.svg');
  background-size: contain;
  display: inline-block;
  margin-left: .3em;
  width: .625em;
  height: .625em;
  vertical-align: middle;
  filter:invert();
}

.card-img{
    overflow: hidden;
    width: 140%;
    object-fit: contain;
    margin-bottom: calc(var(--heading-margin) + 0.5em);
}

body{
  font-size: var(--text-size);
  background-color: var(--main-bg-color);
}

header{
  height: 2.1em;
  padding: .4em;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background-color: var(--light-button-color);
  border-bottom: solid 2px var(--border-color);
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 20px;
}

header nav ul {
  list-style: none;
  text-transform: uppercase;
}

header nav img {
  height: 2.8em;
}