:root{

  /* light/darkmode */
  color-scheme: light dark;

  /* fonts */
  --head-font: head, Sans-serif;
  --heading-font: Alegreya, serif;
  --main-font: Alegreya Sans, Sans-serif;

  /* font-size */
  --text-size: 1.05em;
  --heading-size: 1.3em;
  --lead-size: 2.6em;

  /* kleuren */
  --main-bg-color: #fcf5ed;
  --block-bg-color: #fefefe;
  --main-font-color: #4d3928;
  --second-font-color: #aa182c;
  --button-font-color: #aa182c;
  --border-color: #ede5d5;
  --border-second-color: #ECE6D6;
  --light-button-color: #FBFBF8;
  --white-button-color: #FFFFFF;
  

  /* paddings */
  --blok-padding: 20px;

  /* margins */
  --heading-margin: 1.2em;
  --blok-margin: 2em;
  --list-margin: .6em;

  /* border-radius */
  --blok-radius: 5px;
  --button-radius: .2em;
  --radius-small: .15em;
  --radius-medium: .3em;
}

@font-face {
  font-family: head;
  src: url(../assets/Efteling-Regular.woff2);
}

@font-face {
  font-family: Alegreya Sans;
  src: url(../assets/AlegreyaSans-Regular.ttf);
}

@font-face {
  font-family: Alegreya;
  src: url(../assets/Alegreya-VariableFont_wght.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #2b2623;
    --block-bg-color: #3e3a36;
    --main-font-color: #eae1d6;
    --button-font-color: #ffffff;
    --border-color: #3c3835;
    --border-second-color: #47423f;
    --light-button-color: #3e3a36;
    --white-button-color: #5a534f;
  }
}

*{
  font-family: var(--main-font);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 200;
}

.blockst{
  border: 1px solid var(--border-second-color);
  background-color: white;
  bottom: -50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--blok-padding);
  border-radius: var(--blok-radius);
}

.maxwitdh{
  width: 80%;
  margin-inline: auto;
  max-width: 1200px;
  /* Bron = van sanne */
}

.trans-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 0.15em solid white;
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-medium);
  gap:.10px;
  align-items:center;
}

.trans-button:hover{
  background-color: rgba(255, 255, 255, 0.254);
}

.red-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 2px solid #8F1425;
  outline: 3px solid var(--second-font-color);
  background-color: var(--second-font-color);
  color: white;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-small);
  gap:.10px;
  align-items:center;
}

.red-button:hover {
background-color: #9c1426;
border: 2px solid #750c1a;
outline: 3px solid #9c1426;
}

.white-button{
  display: inline-flex;
  padding: 7px 20px;
  border: 2px solid var(--border-second-color);
  outline: 3px solid var(--white-button-color);
  background-color: var(--white-button-color);
  color: var(--button-font-color);
  width: fit-content;
  font-size: 16px;
  text-align: center;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--main-font);
  text-decoration: none;
  border-radius: var(--radius-small);
  gap:.10px;
  align-items:center;
  box-shadow: 0px 0px 0px 4px var(--border-second-color);
  margin-top: 1em;
}

.white-button:hover{
  outline: 3px solid rgb(252, 252, 252);
  background-color: rgb(252, 252, 252);
}

.arrow::after {
  content: "";
  background-image:url('../assets/right-arrow-next-svgrepo-com.svg');
  background-size: contain;
  display: inline-block;
  margin-left: .3em;
  width: .625em;
  height: .625em;
  vertical-align: middle;
  filter:invert();
}

.card-img{
    overflow: hidden;
    width: 140%;
    object-fit: contain;
    margin-bottom: calc(var(--heading-margin) + 0.5em);
}

body{
  font-size: var(--text-size);
  background-color: var(--main-bg-color);
}

/* Navigatie */

header{
  height: 5em;
  padding: .4em;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background-color: var(--light-button-color);
  border-bottom: solid 2px var(--border-color);
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 20px;
}

header nav ul li a:hover {
  color: var(--button-font-color) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

header nav div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.3em;
}

header nav img {
  height: 4em;
}

header nav ul {
  list-style: none;
  display: flex;
  color: var(--main-font-color);
  gap: 30px;
}

header nav ul:first-child li a{
  text-decoration: none;
  color: var(--main-font-color);
  font-size: .85em;
}

header nav ul:last-child {
  flex-direction: row-reverse;
  font-family: var(--heading-font) !important;
  align-items: center;
}

header nav ul:last-child li a{
  text-decoration: none;
}

header nav ul:last-child {
  flex-direction: row-reverse;
  align-items: center;
}

header nav ul li:hover{
  color: var(--button-font-color);
}

header nav ul:last-child li:nth-child(1) a{
  padding: .25em .8em;
  font-family: var(--main-font) !important;
  color: white;
}

header nav ul:last-child li a{
  font-family: var(--heading-font) !important;
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 1.1em;
}

header nav ul:last-child li img{
  height: .7em;
  width: .7em;
}

header nav ul:last-child li img:hover{
  filter: brightness(0) saturate(100%) invert(23%) sepia(83%) saturate(442%) hue-rotate(329deg) brightness(92%) contrast(100%);
}
